@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafbfc;
  --foreground: #0f172a;
  --brand: #0284c7;
  --brand-light: #e0f2fe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f1f5f9;
    --brand-light: #0c4a6e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
